/* ==UserStyle==
@name           [Frg] Active Translations Reader Mode
@version        0.9.4
@author         Frigvid
@description    Creates a more pleasant reading experience on a-t.nu
@namespace      https://github.com/Frigvid
@homepageURL    https://github.com/Frigvid/scripts-and-userstyles
@supportURL     https://github.com/Frigvid/scripts-and-userstyles/issues
@updateURL      https://github.com/Frigvid/scripts-and-userstyles/raw/master/styles/active-translations_reader-mode.user.css
==/UserStyle== */

@-moz-document domain("a-t.nu") {
    body.reading-manga .site-footer {
        height: 20px;
    }
    
    body.reading-manga .site-footer .footer-bottom-nav-right {
        padding: 0px;
    }
    
    .align-items-center {
        align-items: normal !important;
    }
    
    body.reading-manga .site-footer a.nav-btn {
        color: #262626;
        padding: 0px;
    }
    
    .btn {
        padding: 0px;
    }
    
    body.reading-manga .site-footer .container, body.reading-manga .site-footer .container .row {
        max-width: min-content !important;
        margin-left: auto;
        margin-right: auto;
    }
    
    .site-header .main-navigation.style-1 {
        border-bottom: none;
    }

    /* These scum of people think it's a good idea to put the actual story text in pseudo-elements, specifically ::before and ::after as content.
    Looks like it is served that way from the server, which is reeaaally annoying. All I wanted was to copy a line and add it to a comment.
    The code below removes the select disabling for the entire site, but it doesn't actually work that well, in regards to what is noted above... I'll see if I find a way around it later. */
    /* * {
    /*     user-select: auto !important;           /* supported by Chrome and Opera */
    /*     -webkit-user-select: auto !important;   /* Safari */
    /*     -khtml-user-select: auto !important;    /* Konqueror HTML */
    /*     -moz-user-select: auto !important;      /* Firefox */
    /*     -ms-user-select: auto !important;       /* Internet Explorer/Edge */
    /* } */
	
	/* I have disabled all scripts (there are like 46), and text size is controlled by a script loading, running and then /adding/ the changes you've set... instead of just changing already present variables.
    Seriously stupid. You end up with the text loading at default size, and then visibly becoming larger or smaller after a few real-time seconds of wait... this is instant... :/ I want to shoot whoever made the site. */
    .text-left {
        font-size: 21px;
        line-height: 31.5px;
    }
}