/* ==UserStyle==
@name           [WM] ImageChest comfortable viewing
@version        1.0.0
@author         WidgetMidget
@description    Creates a more pleasant viewing experience on imagechest galleries
@namespace      https://github.com/WidgetMidget
@homepageURL    https://github.com/WidgetMidget/scripts-and-userstyles
@supportURL     https://github.com/WidgetMidget/scripts-and-userstyles/issues
@updateURL      https://github.com/WidgetMidget/scripts-and-userstyles/raw/master/styles/imagechest_comfortable-viewing.user.css
==/UserStyle== */

@-moz-document url-prefix("https://imgchest.com/p/") {
    /* random shit on the right side (div.col-md-4:nth-child(2)) */
    .col-md-4 {
        display: none;
    }
    
    .col-md-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}