/* ==UserStyle==
@name           [Frg] Novels.pl Reader Mode
@version        2.4.47
@author         Frigvid
@description    Creates a more pleasant reading experience on novels.pl. Requires "[WM] Userstyle companion for Novels.pl" for complete experience.
@namespace      https://github.com/Frigvid
@homepageURL    https://github.com/Frigvid/scripts-and-userstyles
@supportURL     https://github.com/Frigvid/scripts-and-userstyles/issues
@updateURL      https://github.com/Frigvid/scripts-and-userstyles/raw/master/styles/novels_pl-reader-mode.user.css
==/UserStyle== */

@-moz-document domain("novels.pl") {
    /* Global changes */
    
    /* Sets navbar color to the same as background */
    .navbar-inverse {
        background-color: #222222;
    }
    
    /* Sets navbar active-button color to the same as background */
    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
        background-color: #222222;
    }
    
    /* Changes searchbar background color */
    .navbar-form .form-control {
        background-color: #2d2d2d;
    }
    
	/* Removes the facebook widget */
    #facebook_slider_widget {
        display: none;
    }
}

@-moz-document regexp("(http|https)://www\\.novels\\.(pl)/novel/.*") {
    /* Path specific changes */
    
    /* Hides left and right panel recommendations and and lets you see them on hover. Has a small transition for maximum swag. */
    .col-sm-2 {
        opacity: 0;
        transition: opacity 0.3s;
    }

    .col-sm-2:hover {
        opacity: 1;
        transition: opacity 0.3s;
    }
    
    /* Removes comments section. Never really seen it in use, so doubt it'll ever be necessary */
    /* Might sometimes be buggy because it has to use nth-child, but the site is pretty uniform on chapter pages so I think it'll be fine */
    div.panel:nth-child(13) {
        display: none;
    }
    
    /* Locks navbar to top of page */
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: absolute;
    }

    /* Changes background color of chapter index and chapter, as well as removing borders */
    .panel {
        border: none;
        background-color: #292929;
    }
    
    /* Changes headers of chapter index and chapter */
    .panel-default > .panel-heading {
        background-color: #3a3a3a;
    }
    
    /* Changes button color */
    .pager li > a, .pager li > span {
        background-color: #464545;
    }

    /* Changes button color for disabled buttons */
    .pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
        background-color: #464545;
    }
    
    /* Changes link color */
    a {
        color: #337ab7;
    }
    
    /* Removes facebook like button */
    div.pull-left > img:nth-child(2) {
        display: none;
    }
    
    /* Hides the bottom right back-to-top button until hovered */
    #back-to-top {
        opacity: 0;
        transition: opacity 0.3s;
    }

    #back-to-top:hover {
        opacity: 1;
        transition: opacity 0.3s;
    }
}