/* ==UserStyle==
@name           [Frg] Questionable Questing better reading layout
@version        1.2.2
@author         Frigvid
@description    Hides sidebars in reader-mode threads. Designed with the UI.X Dark theme and 150% zoom in mind.
@namespace      https://github.com/frigvid
@homepageURL    https://github.com/frigvid/scripts-and-userstyles
@supportURL     https://github.com/frigvid/scripts-and-userstyles/issues
@updateURL      https://github.com/frigvid/scripts-and-userstyles/raw/master/styles/questionablequesting-com_better-reading.user.css
==/UserStyle== */

@-moz-document regexp("https://forum\.questionablequesting\.com/threads/.*?/reader.*?") {
    
    /* Hides the header, and lets you see it on hover. */
    #header {
        opacity: 0;
        transition: opacity 0.3s;
    }

    #header:hover {
        opacity: 1;
        transition: opacity 0.3s;
    }
    
    .message {
        /* Removes the user infobox to the left. */
        .messageUserInfo {
            display: none;
        }
        
        /* Removes the margin for the user info sidebar to the left. */
        .messageInfo {
            margin-left: 0px !important;
            
            @media screen and (min-width: 1000px) {
                /* Add additional padding, for zoom 150. */
                .messageContent {
                    padding-left: 250px !important;
                    padding-right: 250px !important;

                    /* Make text bigger, for me' poor eyes. */
                    article > blockquote {
                        font-size: 14pt;
                        
                        /* In case there are sub-elements that set font-size manually. */
                        * {
                            font-size: unset !important;
                        }
                    }
                }
            }
        }
    }
}