/* ==UserStyle==
@name           [Frg] Webnovel Reader Mode
@version        1.1.3
@author         Frigvid
@description    Creates a more pleasant reading experience on webnovel.com.
@namespace      https://github.com/Frigvid
@homepageURL    https://github.com/Frigvid/scripts-and-userstyles
@supportURL     https://github.com/Frigvid/scripts-and-userstyles/issues
@updateURL      https://github.com/Frigvid/scripts-and-userstyles/raw/master/styles/active-translations_reader-mode.user.css
==/UserStyle== */

@-moz-document domain("webnovel.com") {
    /* Changes the header position to be absolute instead of stickied on the page. */
    .pf {
        position: absolute;
    }
	
    /* Hides the header app ad button and login button. */
    ._reverse.ui-tips.pr.ml8.mr16.fl.j_getApp._secondary._s.bt, .fl.j_loginWrap {
        display: none;
    }
    
    /* Change the webnovel watermark marging. */
    .cha-info p {
        margin-top: unset;
    }
    
    /* Changes comments and voting button margins. */
    .user-links-wrap, .pb16 {
        padding-top: unset;
        padding-bottom: unset;
    }
    
    /* Changes comment colors. */
    ._color3, .c_l {
        color: #2d2e31;
    }
    
    /* Hides comment amount counter because color shares its class with the "creators' thoughts" box content. */
    .j_comment_title.c_m.lh16.fs12.db.mb2.mt4 { display: none; }
    
    /* Changes the size of the chapter. */
    .cha-page, .m-comment-bd, .g_txt_over {
        max-width: 60%;
    }
    
    /* Changes the content background color. "!important" is necessary here, or it stops working after a reload. is necessary here, or it stops working after a reload. */
    .cha-page {
        background-color: #000 !important;
        border-color: #000 !important;
    }
    
    /* Changes the size of the text. */
    .cha-page-in, .cha-words {
        font-size: 30px;
        line-height: 1.2em;
    }
    
    /* Changes the right sidebar color and size. */
    .cha-fly {
        background-color: unset;
        width: 24px;
    }
    
    /* Changes the icon colors, unsets the font size and removes the line separators between menu choises. */
    .cha-tools a {
        font-size: unset;
        color: #4b4b4d;
        border-top: unset;
        border-bottom: unset;
    }
    
    /* Disables anti-selection on the entire page. */
    * {
        user-select: auto !important;           /* supported by Chrome and Opera */
        -webkit-user-select: auto !important;   /* Safari */
        -khtml-user-select: auto !important;    /* Konqueror HTML */
        -moz-user-select: auto !important;      /* Firefox */
        -ms-user-select: auto !important;       /* Internet Explorer/Edge */
    }
}