/* ==UserStyle==
@name           [WM] Wuxiaworld Reader Mode
@version        1.0.23
@author         WidgetMidget
@description    Creates a more pleasant reading experience on wuxiaworld.
@namespace      https://github.com/WidgetMidget
@homepageURL    https://github.com/WidgetMidget/scripts-and-userstyles
@supportURL     https://github.com/WidgetMidget/scripts-and-userstyles/issues
@updateURL      https://github.com/WidgetMidget/scripts-and-userstyles/raw/master/styles/wuxiaworld-reader-mode.user.css
==/UserStyle== */

@-moz-document url-prefix("https://www.wuxiaworld.com/novel/") {
    /* Pointless sidebar with ads and shit */
    #sidebar {
        visibility: hidden;
    }
    
    /* Actual content section*/
    .section {
        width: 1268px !important;
        position: relative;
            left: 20px;
    }
    
    /* Comment section align with content section */
    #comments {
        width: 1268px !important;
        position: relative;
            left: 20px;
    }
    
    /* Background is way too bright when in their touted 'dark-mode' */
    body.darkmode {
        background: #171616 !important;
    }
    body.darkmode .main .container {
        background: #171616 !important;
    }
    .top-bar-area {
        background: #171616 !important;
    }
    .pp .top-bar-area .btn-link {
        background: transparent !important;
    }
    .pp .nav-bar-area .btn-link {
        background: transparent !important;
    }
    
    .MuiDrawer-paperAnchorDockedLeft {
        border-right: 1px solid transparent;
    }
    
    .MuiPaper-root {
        color: #7e7979;
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: transparent;
    }
    
    .MuiPaper-root {
        opacity: 0;
        transition: opacity 0.3s;
    }
    
    .MuiPaper-root:hover {
        opacity: 1;
        transition: opacity 0.3s;
    }
}